body {
    font-family:'Space Mono', monospace;
    background-color: #626963;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formulario-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #272A36;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #eeb7eb;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    color: #F5F3F1;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #272A36;
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #68ff99;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
  
